/*---------------------
	Footer
---------------------*/

.Footer {
	background: #333;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
}

.Footer__linkGroup {
	width: 80%;
	display: block;
	overflow: hidden;
	margin: 0 auto 15px;
	text-align: center;
}

.Footer__item {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-top: 15px;
}

.Footer__item:last-child {
	margin-bottom: 30px;
}

.Footer__item--logo {
	text-align: center;
	text-indent: -9999px;
	background: image-url("sp/svg/logo.svg") no-repeat center top;
	background-size: 68px 50px;
	margin: 0 auto;
	width: 68px;
	height: 50px;
	display: block;
	position: relative;
	color: #fff;
	padding-bottom: 20px;
}

.Footer__item--logo:after {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 50%;
	bottom: 10px;
	width: 20px;
	height: 2px;
	background: #aaa;
	margin-left: -15px;
	content: "";
}

.Footer__link {
	color: #fff;
	font-size: 12px;
}

.Footer__copyright {
	color: #aaa;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

.Footer .fb-like span {
	width: 300px !important;
	margin: 0 auto;
}

.Footer .fb-like iframe {
	width: 300px !important;
	margin: 0 auto;
}

.Button__button {
	display: block;
	width: 90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 20px auto;
	padding: 10;
	border-radius: 3px;
	font-size: 18px;
	background: #888;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.1em;
	border: none;
}

.Button__button--add {
	background: #248DCA;
	color: #fff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: none;
}

