/*---------------------
	Footer
---------------------*/

.Footer {
	background: #333;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
}

.Footer__linkGroup {
	width: 80%;
	display: block;
	overflow: hidden;
	margin: 0 auto 15px;
	text-align: center;
}

.Footer__item {
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-top: 15px;
}

.Footer__item:last-child {
	margin-bottom: 30px;
}

.Footer__item--logo {
	text-align: center;
	text-indent: -9999px;
	background: image-url("sp/svg/logo.svg") no-repeat center top;
	background-size: 68px 50px;
	margin: 0 auto;
	width: 68px;
	height: 50px;
	display: block;
	position: relative;
	color: #fff;
	padding-bottom: 20px;
}

.Footer__item--logo:after {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 50%;
	bottom: 10px;
	width: 20px;
	height: 2px;
	background: #aaa;
	margin-left: -15px;
	content: "";
}

.Footer__link {
	color: #fff;
	font-size: 12px;
}

.Footer__copyright {
	color: #aaa;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

.Footer .fb-like span {
	width: 300px !important;
	margin: 0 auto;
}

.Footer .fb-like iframe {
	width: 300px !important;
	margin: 0 auto;
}

.Button__button {
	display: block;
	width: 90%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 20px auto;
	padding: 10;
	border-radius: 3px;
	font-size: 18px;
	background: #888;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.1em;
	border: none;
}

.Button__button--add {
	background: #248DCA;
	color: #fff;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	border: none;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.clearfix {
	clear: both;
}

.Company {
	width: 100%;
}

.Company__key {
	width: 100%;
	height: 300px;
	background: url("../../images/sp/key_bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.Company__product--trunk {
	padding-top: 60px;
	background-color: #edf0f1;
}

.Company__product--room {
	background-color: #edf0f1;
}

.Company__product--white {
	background-color: #fff;
	padding: 30px 0px;
}

.Company__partner {
	background-color: #edf0f1;
	padding-top: 30px;
}

.Company__magazine {
	background-color: #edf0f1;
	padding-top: 30px;
}

.Company__summary {
	background-color: #edf0f1;
	padding-top: 30px;
}

.Section {
	width: 100%;
	margin: auto;
}

.Section__title {
	width: 100%;
	height: 24px;
	margin: auto;
}

.Section__title--product {
	width: 189px;
	height: 24px;
	background: url("../../images/product_title.png");
	background-size: 138px 24px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Section__title--partner {
	width: 189px;
	height: 24px;
	background: url("../../images/partner_title.png");
	background-size: 138px 25px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Section__title--magazine {
	width: 220px;
	height: 24px;
	background: url("../../images/magazine_title.png");
	background-size: 165px 25px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Section__title--award {
	width: 189px;
	height: 24px;
	background: url("../../images/award_title.png");
	background-size: 113px 26px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Section__title--media {
	width: 189px;
	height: 24px;
	background: url("../../images/media_title.png");
	background-size: 97px 25px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Section__title--company {
	width: 230px;
	height: 24px;
	background: url("../../images/company_title.png");
	background-size: 157px 25px;
	background-position: 30px 0px;
	background-repeat: no-repeat;
}

.Key__logo {
	position: relative;
	top: 13px;
	left: 11px;
}

.Key__title {
	width: 354.5px;
	height: 87.5px;
	margin: auto;
	background: url("../../images/sp/key_title.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 60px;
}

.Product {
	width: 100%;
}

.Product__image {
	text-align: center;
}

.Product__image--trunk {
	width: 340px;
	height: 174.5px;
	margin-top: 26.5px;
	position: relative;
	top: 28px;
}

.Product__image--room {
	width: 340.5px;
	height: 170px;
	margin-top: 26.5px;
	position: relative;
	top: 28px;
}

.Product__explain {
	width: 100%;
	margin: 40px auto 0px;
}

.Product__icon {
	display: inline-block;
	margin-left: 10px;
}

.Product__icon img {
	width: 90px;
	height: 90px;
}

.Product__title {
	vertical-align: top;
	display: inline-block;
	font-size: 24px;
	color: #333;
	margin-left: 10px;
}

.Product__title--link {
	display: block;
	margin-top: 13px;
	color: #3295a4;
	text-decoration: none;
	font-size: 13px;
}

.Product__title--link::after {
	content: "";
	width: 11px;
	height: 10px;
	display: inline-block;
	background: url("../../images/arrow_green.png");
	background-repeat: no-repeat;
	background-size: 11px 10px;
	margin-left: 10px;
}

.Product__description {
	width: 95%;
	margin: auto;
	text-align: left;
}

.Product__text {
	margin-top: 21px;
	font-size: 14px;
	line-height: 23px;
	color: #333;
}

.Partner__list {
	width: 100%;
	margin: 23px auto 0px;
	text-align: center;
}

.Partner__list img {
	display: inline-block;
	width: 45%;
}

.Magazine {
	width: 95%;
	padding: 5px;
	margin: 23px auto 0px;
	background-color: #fff;
}

.Magazine__image {
	width: 40%;
	display: inline-block;
}

.Magazine__image img {
	width: 100%;
}

.Magazine__title {
	width: 55%;
	vertical-align: top;
	display: inline-block;
	font-size: 15px;
	margin-left: 2px;
	color: #333;
}

.Magazine__title--link {
	display: block;
	margin-top: 13px;
	color: #3295a4;
	text-decoration: none;
	font-size: 14px;
}

.Magazine__title--link::after {
	content: "";
	width: 11px;
	height: 10px;
	display: inline-block;
	background: url("../../images/arrow_green.png");
	background-repeat: no-repeat;
	background-size: 11px 10px;
	margin-left: 10px;
}

.Magazine__text {
	font-size: 14px;
	padding-top: 27px;
	color: #333;
	line-height: 25px;
}

.Summary {
	background-color: #edf0f1;
}

.Summary__table {
	width: 100%;
	margin: 20px auto 0px;
	background-color: #fff;
}

.Summary__list {
	border-bottom: 1px dashed #dadcdd;
	list-style: none;
}

.Summary__list:last-child {
	border-bottom: none;
}

.Summary__left,
.Summary__right {
	display: inline-block;
	vertical-align: middle;
}

.Summary__left {
	width: 80px;
	padding: 10px;
	color: #333;
}

.Summary__right {
	width: 200px;
}

