@import "./common/vars";
@import "./common/mixin";

.body {
  background: #141414;
}

.hideCursor {
  cursor: url("../img/tr.png"), none !important;
}



/*---------------------
	Header
---------------------*/
.Header{
	position: relative;
	z-index:6;
	width: 100%;
	background:#141414;
	&__image{
		width:100%;
		height:100%;
		background: url(../img/img_header.png) no-repeat 50% 0;
		background-size: cover;
		padding-top: 75%;
		@include max-screen($breakpoint-mobile) {
			background: url(../img/img_header-sp.png) no-repeat 50% 0;
			background-size: cover;
			padding-top: 75%;
		}

	}
	&__sns{
		display: block;
		text-align: center;
		position: absolute;
		bottom:100px;
		width: 150px;
		left:50%;
		margin-left:-75px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include max-screen($breakpoint-mobile) {
			bottom:30px;
		}

	}
	&__snsItem{
		flex: 1 1 auto;
		&:first-child{
			margin-top:-5px;
		}
	}
}
/*---------------------
	Content
---------------------*/
.Content{
	$_ancestor:&;
	padding-top:60px;
	width: 100%;
  // &--pointer{
  //   cursor: default !important;
  //   &.#{$_ancestor}--front{
  //     cursor: default !important;
  //   }
  //   &.#{$_ancestor}--back{
  //     cursor: default !important;
  //   }
  //   #{$_ancestor}__text,#{$_ancestor}__link,#{$_ancestor}__image{
  //     cursor: default !important;
  //   }
  // }
	&--front{
		position: relative;
		z-index: 5;
		pointer-events: none;
    cursor: url(../img/tr.png);
    @include max-screen($breakpoint-mobile) {
      pointer-events: auto;
    }
		#{$_ancestor}__text{
			opacity: 1;
		}
		#{$_ancestor}__link{
			opacity: 0;
      @include max-screen($breakpoint-mobile) {
        opacity: 1;
        mix-blend-mode: color-dodge;
        color:#000;
      }

		}
		#{$_ancestor}__image{
			opacity: 1;
		}
	}
	&--back{
		position: absolute;
		top:0;
		z-index: 1;
    @include max-screen($breakpoint-mobile) {
      display: none;
    }
		#{$_ancestor}__text{
			opacity: 0;
		}
		#{$_ancestor}__link{
			opacity: 1;
		}
		#{$_ancestor}__image{
			opacity: 0;
		}
	}
	&__text{
		font-size:60px;
		margin:0;
		padding:0;
		display: block;
		color:#000;
		font-family:'Robot Regular', 'Gothic Medium BBB', Meiryo, "M+ 1p", sans-serif;
		line-height: 1.4;
		@include max-screen($breakpoint-mobile) {
			font-size: 30px;
      font-family:'Gothic Medium BBB';
		}
    // &--pointer{
    // }
    &--title{
      padding-top:62px;
      &+#{$_ancestor}__text--right{
        padding-top:62px;
      }
      @include max-screen($breakpoint-mobile) {
        padding-top:30px;
  		}
    }
		&--inline{
			width: auto;
			display: table-cell;
			vertical-align: middle;
		}
		&--right{
			font-size:20px;
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			@include max-screen($breakpoint-mobile) {
				display: none;
			}
		}
		&--regular{
			font-family:'Roboto' !important;
		}
		&--condenced{
			font-family:'Roboto Condensed' !important;
		}
	}
	&__link{
		font-size:60px;
		margin:0;
		padding:0;
		display: block;
		color:#000;
		font-family:'Robot Regular', 'Gothic Medium BBB', Meiryo, "M+ 1p", sans-serif;
    &--pointer{
      &:hover{
      }
    }
		&:hover{
			color:#0eb2e8;
		}
		@include max-screen($breakpoint-mobile) {
			font-size: 30px;
			line-height: 30px;
      color:#0eb2e8;
      &--pointer{
        color:#000;
        &:hover{
    			color:#000;
    		}
      }
		}

	}
	&__table{
		display: table;
		width: 100%;
	}
	&__icon{
		display: inline-block;
		&--sat{
			display: inline-block;
			text-indent: 100%;
		  white-space: nowrap;
		  overflow: hidden;
			width: 22px;
			height: 44px;
			background: url(../img/img_sat.png) no-repeat 0 50%;
			background-size:22px 44px;
			margin-right:40px;
			margin-left:5px;
			@include max-screen($breakpoint-mobile) {
				background-size: 11px 22px;
		    background-position: 0 0;
				margin-right: 20px;
				width: 11px;
				height: 22px;
			}
		}
		&--block{
			text-indent: 100%;
		  white-space: nowrap;
		  overflow: hidden;
			background: #000;
			width:180px;
			height: 60px;
			display: inline-block;
			vertical-align: middle;
			margin-top:-4ipx;
			@include max-screen($breakpoint-mobile) {
				height: 30px;
			}
		}
	}
	&__image{
		margin-top:210px;
		width: 100%;
    // &--pointer{
    // }
		&--asterisk{
			opacity: 0.99;
			margin-top:0;
			margin-bottom:40px;
		}
	}
}
.marginBottom60{
	margin-bottom:22px;
	@include max-screen($breakpoint-mobile) {

	}
}
.marginBottom120{
	margin-bottom:90px;
	@include max-screen($breakpoint-mobile) {
		margin-bottom:60px;
	}

}
.marginBottom250{
	margin-bottom:238px;
	@include max-screen($breakpoint-mobile) {
		margin-bottom:119px;
	}
}

.Wrapper{
  position: relative;
  @include max-screen($breakpoint-mobile) {
    background: rgba(20,20,20,1);
  }
}
.WindowSp{
  display: none;
  @include max-screen($breakpoint-mobile) {
    display: block;
    position: fixed;
    top:50%;
    left:0;
    background: #fff;
    width: 100%;
    height: 40px;
    margin-top:-20px;
  }
}
.Window{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
  padding-bottom:100px;
	pointer-events: none;
	transition: 0.3s;
	z-index:5;
  mix-blend-mode: multiply;
  overflow: scroll;
  @include max-screen($breakpoint-mobile) {
    display: none;
  }
}
