/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html {
	font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	color: #333;
	font-family: 'Robot Regular', 'Gothic Medium BBB', Meiryo, "M+ 1p", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: underline;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

/* clearfix */

.cf {
	*zoom: 1;
}

.cf:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}

.fontSize-root {
	font-size: 16px;
}

.fontSize-base {
	font-size: 1rem;
}

.fontSize-xl {
	font-size: 1.25rem;
}

.fontSize-lg {
	font-size: 1.125rem;
}

.fontSize-sm {
	font-size: .875rem;
}

.fontSize-xs {
	font-size: .75rem;
}

.fontSize-xxs {
	font-size: .625rem;
}

.floatL {
	float: left !important;
}

.floatR {
	float: right !important;
}

.alignC {
	text-align: center !important;
}

.alignL {
	text-align: left !important;
}

.alignR {
	text-align: right !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt25 {
	margin-top: 25px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.mt45 {
	margin-top: 45px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.mb5 {
	margin-bottom: 5px !important;
}

.mb10 {
	margin-bottom: 10px !important;
}

.mb15 {
	margin-bottom: 15px !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb25 {
	margin-bottom: 25px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb35 {
	margin-bottom: 35px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb45 {
	margin-bottom: 45px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.pt5 {
	padding-top: 5px !important;
}

.pt10 {
	padding-top: 10px !important;
}

.pt15 {
	padding-top: 15px !important;
}

.pt20 {
	padding-top: 20px !important;
}

.pt25 {
	padding-top: 25px !important;
}

.pt30 {
	padding-top: 30px !important;
}

.pt35 {
	padding-top: 35px !important;
}

.pt40 {
	padding-top: 40px !important;
}

.pt45 {
	padding-top: 45px !important;
}

.pt50 {
	padding-top: 50px !important;
}

.pb5 {
	padding-bottom: 5px !important;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb15 {
	padding-bottom: 15px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}

.pb25 {
	padding-bottom: 25px !important;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pb35 {
	padding-bottom: 35px !important;
}

.pb40 {
	padding-bottom: 40px !important;
}

.pb45 {
	padding-bottom: 45px !important;
}

.pb50 {
	padding-bottom: 50px !important;
}

.Wrapper {
	position: relative;
}

/*---------------------
	Header
---------------------*/

/*---------------------
	Footer
---------------------*/

.body {
	background: #141414;
}

.hideCursor {
	cursor: url("../img/tr.png"), none !important;
}

/*---------------------
	Header
---------------------*/

.Header {
	position: relative;
	z-index: 6;
	width: 100%;
	background: #141414;
}

.Header__image {
	width: 100%;
	height: 100%;
	background: url(../img/img_header.png) no-repeat 50% 0;
	background-size: cover;
	padding-top: 75%;
}

.Header__sns {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 100px;
	width: 150px;
	left: 50%;
	margin-left: -75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.Header__snsItem {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.Header__snsItem:first-child {
	margin-top: -5px;
}

/*---------------------
	Content
---------------------*/

.Content {
	padding-top: 60px;
	width: 100%;
}

.Content--front {
	position: relative;
	z-index: 5;
	pointer-events: none;
	cursor: url(../img/tr.png);
}

.Content--front .Content__text {
	opacity: 1;
}

.Content--front .Content__link {
	opacity: 0;
}

.Content--front .Content__image {
	opacity: 1;
}

.Content--back {
	position: absolute;
	top: 0;
	z-index: 1;
}

.Content--back .Content__text {
	opacity: 0;
}

.Content--back .Content__link {
	opacity: 1;
}

.Content--back .Content__image {
	opacity: 0;
}

.Content__text {
	font-size: 60px;
	margin: 0;
	padding: 0;
	display: block;
	color: #000;
	font-family: 'Robot Regular', 'Gothic Medium BBB', Meiryo, "M+ 1p", sans-serif;
	line-height: 1.4;
}

.Content__text--title {
	padding-top: 62px;
}

.Content__text--title + .Content__text--right {
	padding-top: 62px;
}

.Content__text--inline {
	width: auto;
	display: table-cell;
	vertical-align: middle;
}

.Content__text--right {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.Content__text--regular {
	font-family: 'Roboto' !important;
}

.Content__text--condenced {
	font-family: 'Roboto Condensed' !important;
}

.Content__link {
	font-size: 60px;
	margin: 0;
	padding: 0;
	display: block;
	color: #000;
	font-family: 'Robot Regular', 'Gothic Medium BBB', Meiryo, "M+ 1p", sans-serif;
}

.Content__link:hover {
	color: #0eb2e8;
}

.Content__table {
	display: table;
	width: 100%;
}

.Content__icon {
	display: inline-block;
}

.Content__icon--sat {
	display: inline-block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 22px;
	height: 44px;
	background: url(../img/img_sat.png) no-repeat 0 50%;
	background-size: 22px 44px;
	margin-right: 40px;
	margin-left: 5px;
}

.Content__icon--block {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: #000;
	width: 180px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -4ipx;
}

.Content__image {
	margin-top: 210px;
	width: 100%;
}

.Content__image--asterisk {
	opacity: 0.99;
	margin-top: 0;
	margin-bottom: 40px;
}

.marginBottom60 {
	margin-bottom: 22px;
}

.marginBottom120 {
	margin-bottom: 90px;
}

.marginBottom250 {
	margin-bottom: 238px;
}

.Wrapper {
	position: relative;
}

.WindowSp {
	display: none;
}

.Window {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 100px;
	pointer-events: none;
	transition: 0.3s;
	z-index: 5;
	mix-blend-mode: multiply;
	overflow: scroll;
}

@media screen and (max-width: 767px) {

.Header__image {
	background: url(../img/img_header-sp.png) no-repeat 50% 0;
	background-size: cover;
	padding-top: 75%;
}

.Header__sns {
	bottom: 30px;
}

.Content--front {
	pointer-events: auto;
}

.Content--front .Content__link {
	opacity: 1;
	mix-blend-mode: color-dodge;
	color: #000;
}

.Content--back {
	display: none;
}

.Content__text {
	font-size: 30px;
	font-family: 'Gothic Medium BBB';
}

.Content__text--title {
	padding-top: 30px;
}

.Content__text--right {
	display: none;
}

.Content__link {
	font-size: 30px;
	line-height: 30px;
	color: #0eb2e8;
}

.Content__link--pointer {
	color: #000;
}

.Content__link--pointer:hover {
	color: #000;
}

.Content__icon--sat {
	background-size: 11px 22px;
	background-position: 0 0;
	margin-right: 20px;
	width: 11px;
	height: 22px;
}

.Content__icon--block {
	height: 30px;
}

.marginBottom120 {
	margin-bottom: 60px;
}

.marginBottom250 {
	margin-bottom: 119px;
}

.Wrapper {
	background: #141414;
}

.WindowSp {
	display: block;
	position: fixed;
	top: 50%;
	left: 0;
	background: #fff;
	width: 100%;
	height: 40px;
	margin-top: -20px;
}

.Window {
	display: none;
}

}

