/* clearfix */
.cf{
  *zoom:1;
  &:after{
    display:block;
    visibility:hidden;
    clear:both;
    height:0;
    content:".";
  }
}
.fontSize-root{
  font-size:16px;
}
.fontSize-base{
  font-size:1rem;
}
.fontSize-xl{
  font-size:1.25rem;
}
.fontSize-lg{
  font-size:1.125rem;
}
.fontSize-sm{
  font-size:.875rem;
}
.fontSize-xs{
  font-size:.75rem;
}
.fontSize-xxs{
  font-size:.625rem;
}

.floatL{
  float:left !important;
}
.floatR{
  float:right !important;
}
.alignC{
  text-align: center !important;
}
.alignL{
  text-align: left !important;
}
.alignR{
  text-align: right !important;
}
.mt5{
  margin-top:5px !important;
}
.mt10{
  margin-top:10px !important;
}
.mt15{
  margin-top:15px !important;
}
.mt20{
  margin-top:20px !important;
}
.mt25{
  margin-top:25px !important;
}
.mt30{
  margin-top:30px !important;
}
.mt35{
  margin-top:35px !important;
}
.mt40{
  margin-top:40px !important;
}
.mt45{
  margin-top:45px !important;
}
.mt50{
  margin-top:50px !important;
}
.mb5{
  margin-bottom:5px !important;
}
.mb10{
  margin-bottom:10px !important;
}
.mb15{
  margin-bottom:15px !important;
}
.mb20{
  margin-bottom:20px !important;
}
.mb25{
  margin-bottom:25px !important;
}
.mb30{
  margin-bottom:30px !important;
}
.mb35{
  margin-bottom:35px !important;
}
.mb40{
  margin-bottom:40px !important;
}
.mb45{
  margin-bottom:45px !important;
}
.mb50{
  margin-bottom:50px !important;
}
.pt5{
  padding-top:5px !important;
}
.pt10{
  padding-top:10px !important;
}
.pt15{
  padding-top:15px !important;
}
.pt20{
  padding-top:20px !important;
}
.pt25{
  padding-top:25px !important;
}
.pt30{
  padding-top:30px !important;
}
.pt35{
  padding-top:35px !important;
}
.pt40{
  padding-top:40px !important;
}
.pt45{
  padding-top:45px !important;
}
.pt50{
  padding-top:50px !important;
}
.pb5{
  padding-bottom:5px !important;
}
.pb10{
  padding-bottom:10px !important;
}
.pb15{
  padding-bottom:15px !important;
}
.pb20{
  padding-bottom:20px !important;
}
.pb25{
  padding-bottom:25px !important;
}
.pb30{
  padding-bottom:30px !important;
}
.pb35{
  padding-bottom:35px !important;
}
.pb40{
  padding-bottom:40px !important;
}
.pb45{
  padding-bottom:45px !important;
}
.pb50{
  padding-bottom:50px !important;
}
